[Unit]
Description=DNS Proxy Socket
Before=connman.service

[Socket]
ListenStream=0.0.0.0:53
ListenDatagram=0.0.0.0:53
FreeBind=true
SmackLabelIPIn=*
SmackLabelIPOut=@

[Install]
WantedBy=sockets.target