[Unit]
Description=DNS Proxy Socket

[Socket]
ListenStream=127.0.0.1:53
ListenDatagram=0.0.0.0:53
FreeBind=yes
SmackLabelIPIn=*
SmackLabelIPOut=@

[Install]
WantedBy=sockets.target